body {
    margin: 0px;
    padding: 0px;
}
.navlogo {
    height: 22px;

}
#bluenav {
    background-color: #005983;
    float: right;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
nav {
    background-color: #10243B;
}
ul {
    list-style-type: none;
    display: inline;
    padding: 5px 0;

}
ul li {
    font-size: 11px;
    display: inline;
    padding: 5px 10px;
    font-family: 'Open Sans,' sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: inline-block;
}

#HeroSection {
    width: 100vw;
    background-image: url(images/graduation.jpg);
    height: 100vh;
    background-size: cover;
}

