* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0px;
    padding: 0px;
}



/* ------------------------------------   NAVBAR    ------------------------------------------------------- */
.navlogo {
    height: 22px;

}
#bluenav {
    background-color: #005983;
    float: right;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
nav {
    background-color: #10243B;
}
ul {
    list-style-type: none;
    display: inline;
    padding: 5px 0;

}
ul li {
    font-size: 11px;
    display: inline;
    padding: 5px 10px;
    font-family: 'Open Sans,' sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: inline-block;
}

/* --==-=-=-=-=-=-=-=-==-=-=-=-=-=-=-   Hero Section    --=--=-=-=-====-=-=-=-=-=-=-=-=-=-=-=-=--=-=--=- */

#HeroSection {
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0), transparent), url(images/graduation.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat
}


/* -------------------------------------   Explore CCHS    ------------------------------------------- */

#explorecchs {
    height: 400px;
    width: 100vw;
    background-color: #10243B
}

#exploreheader {
    height: 100px;
    width: 100vw;
    text-align: center;
    color: white;
}

.explorebox {
    height: 300px;
    width: 24.5%;
    background-color: yellow;
    display: inline-block;
}

#patriotplaza {
    background-image: url(images/patriots\ plaza.jpg);
    background-size: cover;
    background-position: center;
}

#college {
    background-image: url(images/college.png);
    background-size: cover;
    background-position: center;
}

#ccnn {
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: center;
}

#media {
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: center;
}

/* -=-------------------------------------  CCHS @ a Glance   --------------------------------------- */





#glance {
    height: 400px;
    width: 100vw;
    background-color: white;
    display: inline-block;
}

#glanceheader {
    height: 100px;
    width: 100vw;
    text-align: center;
    color: #10243B;
    padding-top: 50px;
    font-size: 31px;
}

.glancebox {
    height: 300px;
    width: 24.5%;
    background-color: yellow;
    display: inline-block;
}

#money {
    background-image: url(images/carosel\ money.jpg);
    background-size: cover;
    background-position: center;
}

#graduation {
    background-image: url(images/carosel\ graduation.jpg);
    background-size: cover;
    background-position: center;
}

#book {
    background-image: url(images/book.jpg);
    background-size: cover;
    background-position: center;
}

#teaching {
    background-image: url(images/carosel\ teaching.jpg);
    background-size: cover;
    background-position: center;
}


#glancebox{
    height: 100px;
    width: 25%;
} 

.text{
    text-align: center;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    width: 287.69px;
    margin-left:50px;
    position: relative;
    top: 270px;
    
}
.heading{
    color: red;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    text-emphasis: center;
    margin-left: 20px;
}

.school{
    color: #10243B;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 65px;
}
.logos{
    display: inline-block;
    margin: 75px;


}
#schools{
    text-align: center;
    border-top: solid goldenrod 1px;
    width: 100%;
    background-color: white;
    display: inline-block;
}

#courses {
    background-color: #10243B;
    width: 75%;
    height: 20vh;
    margin-left: 200px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 65px;
    font-size: 30px;
}

.ap {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding-top: 55px;
    font-size: 30px;
    margin-top: 80px;
    font-weight: bold;
}
.footernav{
    background-color: #10243B;
    width: 100%;
    height: 50px;
}

#footer{
    width: 100%;
    height: 400px;
    background-color: #10243B;
    
}

#footernav{
    width: 100%;
    height: 60px;
    

}
#leftfoot a, #rightfoot a {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}

#rightfoot{
    float: right;
    padding-bottom: 30px;
    padding-right: 20px;
}
#rightfoot:nth-child(1){
    padding-right: 75px;

}
#footercontent{
    height: 340px;
    width: 100%;
    background-color: #333;
    padding-top: 40px;
    padding-left: 50px;
    
}

#sitemap{
    margin-right: 100px;
    text-align: right;
}

#footermission{
    width: 60%;
    height: 150px;
    margin: 100px 0 0 75px;
}
#cchscontact{
    float: left;
}
.columbuseal{
    float: right;
    display: inline-block;
}
#leftfoot{
    padding-left: 50px;
}